# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*OcclusionCullingData.asset filter=lfs diff=lfs merge=lfs -text